body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url("images/icon/qqq.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .chat-container {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 500px;
    margin: auto;
    background: linear-gradient(to right, #d79ee8, #91ceec);
  }
  
  .chat-container::before {
    display: none;
  }
  
  .chat-container::after {
    display: none;
  }
  
  .question-container p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }
  
  .options-container {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
  }
  
  input[type="radio"] {
    margin-right: 8px;
  }
  
  .next-btn,
  .skip-btn {
    display: none;
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 18px;
    background: linear-gradient(to right, #ba23e8, #27a2df);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-content: center;
  }
  
  .next-btn:hover,
  .skip-btn:hover {
    background: linear-gradient(to right, #ba23e8, #27a2df);
  }
  
  .result {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin: 20px 0;
    font-weight: bold;
  }
  
  #start-btn {
    display: block;
    margin: auto;
    padding: 12px 24px;
    font-size: 18px;
    background: linear-gradient(to right, #ba23e8, #27a2df);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #start-btn:hover {
    background: linear-gradient(to right, #ba23e8, #27a2df);
  }
  
